@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #12745ad0 40%, #06251dd0 60%);
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

main {
  height: 350px;
  max-width: 80%;
  background-image: url(../images/landscape1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.text {
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin: 30px 0;
}

.text span {
  font-weight: lighter;
}

.navbar {
  height: 40px;
  width: 100%;
  background-color: #333;
  opacity: .8;
}

.navbar nav {
  display: flex;
}

.container {
  display: flex;
  padding: 10px 25px;
  align-items: center;
  justify-content: space-between;
}

.container nav i{
  position: absolute;
  top: 13px;
  left: 15px;
  color: white;
  margin-right: 5px;
  padding-right: 10px;
}

.container nav a i{
  position: absolute;
  top: 18px;
  left: 41px;
  color: white;
  margin-right: 5px;
  padding-right: 10px;
}

.navbar nav a:nth-child(2) {
  margin-left: 1px;
}

.navbar nav a {
  text-decoration: none;
  color: white;
  margin-left: 15px;
  font-size: .85em;
  padding-top: 5px;
}

.container input {
  text-align: right;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 50%);
  color: white;
  border: none;
  padding: 0 5px;
  width: 300px;
  outline: none;
}

input::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; /* Adjust width as needed */
  height: 100%;
  background: black;
}

h1 {
  height: 10px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  margin: 150px auto 50px;
}

.side-text {
  color: white;
  width: 40%;
  margin: 0  0 20px 50px;
  flex-wrap: wrap;
  font-size: x-small;
}

.side-text h3 {
  text-transform: uppercase;
  letter-spacing: 1.7px;
}

.socials {
  display: flex;
  flex-direction: column;
  color: black;
  position: absolute;
  top: 150px;
  left: 50px;
  z-index: 99;
}

.socials a { 
  height: 15px;
  width: 15px;
  margin-bottom: 8px;
  border-radius: 50px;
  background-color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: .70em;
  color: black;
  padding-top: 1px;
}

.search-m{
  position: relative;
  width: 300px;
  align-items: center;
}

.search-m span i{
  position: absolute;
  top: 4px;
  left: 20;
  color: white;
  font-size: .6rem;
  transform: rotate(45deg);

}

.search-container {
  position: relative;
  width: 300px; /* Adjust width as needed */
}

.search-input {
  width: 100%;
  padding: 8px 32px 8px 8px; /* Adjust padding to align with magnifying glass */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  text-align: right;
}

.search-button {
  position: absolute;
  top: 2px;
  right: 8px; /* Adjust distance from right as needed */
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.search-button img {
  width: 24px; /* Adjust size of magnifying glass icon */
  height: 24px;
}


@media(max-width: 678px) {
  .side-text {
    font-size: xx-small;
    margin-left: 20px;
  }


  h1{
    margin-top: 100px;
    margin-bottom: 70px;
  }

  .navbar {
    height: 45px;
  }

  .navbar nav a {
    font-size: .7em;
    margin-left: 10px;
  }

  main {
    height: 360px;
  }

  .container {
    display: grid;
    width: 100%;
    padding: 0 15px;
    align-items: flex-start;
    justify-content: center;
  }

  .container input {
    width: 100%;
  }

}




